#####################################################################
#	Temperatures and Sensors
#####################################################################
[extruder]
sensor_type: PT1000
#sensor_pin: PC0
sensor_pin: sht36:PA3
#pullup_resistor: 2200

[temperature_sensor chamber]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PC2
min_temp: -100
max_temp: 100
gcode_id: C
